@keyframes lightning {
  0% {
    box-shadow: 0px 0px 10px 5px #ff0080;
    box-shadow: #ff0080;
  }
  100% {
    background-color: none;
    box-shadow: none;
  }
}

@keyframes textOut {
  0% {
    content: "Render";
    color: #ff0080;
    top: 0;
  }
  100% {
    top: -30px;
    content: "";
    opacity: 0;
    display: none;
  }
}

.rerenderAnimation {
  animation: 0.6s lightning ease-in-out;
  position: relative;
}

.rerenderAnimation:before {
  display: block;
  font-size: 12px;
  position: absolute;
  content: "";
  top: 0;
  left: -40px;
  animation: 0.6s textOut ease-in-out;
}
